.text-1-s1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  position: absolute;
  z-index: 1000;
}
.text-2-s1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  position: absolute;
  z-index: 1000;
  color: #ffffff;
}
